#l-footer{
  display: flex;
  height: 140px;
  background-color: #333;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-size_l;
  @include mq(){
    font-size:$font-size_m;
  }
  span{
    color: #fff;
    margin-bottom: $space_l;
  }
  a{
      color: #fff;
  }
}