.u-font--bold{
  font-weight: bold;
}
.u-fontsize--xl{
  font-size: $font-size_xl;
}
.u-fontsize--l{
  font-size: $font-size_l;
}
.u-fontcolor--white{
  color: #fff;
}
.u-fontcolor--gold{
  color: $color-gold;
}